# OS
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp

# Env files
.env
.env.*

# Logs
*.log

# Build / cache / dependencies
node_modules/
build/
.cache/

# Large archives & SQL dumps
*.tar.gz
*.zip
*.sql

# Python
__pycache__/
*.pyc

backend/doanh_so/bao_cao.png
.claude/